.anime-detail-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Красивый современный шрифт */
}
  


.anime-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: -63% 0 0 43%;
    padding: 63px 15px 15px 15px ;
    border-radius: 8px;
}

.anime-info span {
    font-size: 25px;
    line-height: 2.5;
}

.anime-detail-container p {
    grid-area: description;
    margin-top: 35%;
    font-size: 20px;
    line-height: 1.8;
    text-align: justify;
}
  
  /* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
    .anime-detail-container {
        grid-template-areas:
        "poster"
        "info"
        "description";
        grid-template-columns: 1fr;
    }

    .anime-info {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: -15% 0 0 -4%;
        padding: 63px 15px 15px 15px;
        border-radius: 8px;
    }

    .anime-detail-poster img {
        max-width: 100%;
    }
}